<div id="dashboard">
    <h1>Dashboard</h1>
    <form action="/dashboard" method="POST">
        <div>
            <label>Title:</label>
            <input type="text" name="title" />
        </div>

        <div>
            <label>Content:</label>
            <textarea name="content"></textarea>
        </div>
        
        <div>
            <button type="submit">Add Blog</button>
        </div>
    </form>
</div>
<div id="blogs">
    {{#each blogs}}
        <div class="blog">
            <a class="blogtitle" href="/blog/{{id}}">{{title}}</a>
            <p>{{content}}</p>
            <p>{{user.username}}</p>
            <p>{{formatDate createdAt "DD/MM/YYYY"}}</p>
            <a href="/blog/delete/{{id}}">x</a>
        </div>
    {{else}}
        No Blogs Available!
    {{/each}}
</div>